<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo List Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>oh, so many things to do...</h3>
        <table class='table'>
            {% for entry in todolist %}
            <tr>
                <td {% if entry.status=='done' %} class='done' {% endif %}>{{ entry.what_to_do|safe }}</td>
                <td>{{ entry.due_date|safe }}</td>
                <td>
                    <button onclick="location.href='/mark/{{entry.what_to_do|urlencode}}'">mark as done </button>
                    <button onclick="location.href='/delete/{{entry.what_to_do|urlencode}}'">delete</button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    <em>Unbelievable. Nothing to do for now.</em>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button onclick="toggle_entry_form();" id='toggle_button'>add a new item</button>
    </div>

    <div class="container">
        <form action="/add" method="POST" id="add-form" style="display:none">
            <div class="row">
                <div class="col-sm-6">
                    what to do:
                    <input type="text" size="50" name="what_to_do" value="more homework?" />
                </div>
                <div class="col-sm-3">
                    when:
                    <input type="text" name="due_date" value="" />
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="save the new item" />
                </div>
            </div>
        </form>
    </div>

    <script>
        var show_entry_form = false;

        function toggle_entry_form() {
            if (show_entry_form) {
                $('#add-form').hide();
                $('#toggle_button').text("add a new item");
            } else {
                $('#add-form').show();
                $('#toggle_button').text("cancel the new entry");
            }
            show_entry_form = !show_entry_form;
        };
    </script>
</body>

</html>